{% extends "base.html" %}


{% block content1 %}
<title>
Home of MIKE!
</title>
{% endblock %}

{% block content2 %}

<left>
<h1> EDITED STORIES </h1>
</left>

 Welcome {{ user }} <br>

<table style="width:33%;display:inline-block">
<!-- in here will be ajinja for loop to return table
of all stories edited by the logged in user -->
<tr>
  <th>Story Name </th>
</tr>
{% for story in stories %}
<td> <a href="/view?story={{story}}" >{{story}}</a></td>
{% endfor %}

</table>

<br><h2><left><a href="/edit">Click to Edit</a></left><h2>
<br><h2><left><a href="/new">Click to Make a New Story</a></left><h2>
<br><h2><left><a href="/logout">Click to logout</a></left><h2>
{% endblock %}
