{% extends "base.html" %}


{% block title %}

Login to MIKE!

{% endblock %}


{% block content %}

<br><br><br><br><br><br><br><br><br>
<center>
  <h1>Login or create a new account!</h1>
  <form method="POST">
    Username:
    <input type="text" name="username">
    <br>
    <br>
    Password:
    <input type="password" name="password">
    <br>
    <br>
    <br>
    <input type="submit" name="login" value="Login" style="width:150px; height:30px;">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="create" value="Create an account" style="width:150px; height:30px;">
  </form>
</center>

{% endblock %}
    
